@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: "Graduate", serif; /* titulo */
    --fonte03: "Chivo Mono", monospace; /* sub-titulo */ 

    --cor01: #008F8C; /* cor de fundo do body */
    --cor02: #015958;
    --cor03: #0CABA8;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: var(--cor01);
    font-family: var(--fonte01);
}

header{
    background-image: linear-gradient( to top, var(--cor02), var(--cor03));
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    padding-bottom: 50px;
    font-variant: small-caps;
    font-family: var(--fonte02);
    font-size: 7vw;
    text-shadow: 4px 2px 9px black;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 15px;
    line-height: 2em;
    font-family: var(--fonte01);
    font-size: 1.6vw;
}

section > p{
    padding-bottom: 50px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    padding-top: 30vh;
    padding-bottom: 30vh;
    background-color: var(--cor01);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > h1{
    color:var(--cor03);
    text-shadow: 4px 2px 9px black;
}

section.imagem > p{
    display: inline-block;
    font-size: 2vw;
    line-height: 1.5em;
    text-align: justify;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.26);
    text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url(../imagens/Kafka.png);
    background-position: top center;

}

section#img02{
    background-image: url(../imagens/kaiju.jpg);
    background-position: left center;
}

footer{
    text-align: center;
    padding: 5px;
}